name: rust-webserver-with-postgres
services:
  rust-webserver:
    container_name: rust-webserver
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: "postgres://myuser:mypassword@postgres:5432/postgres"
      TYPESENSE_API_KEY: ${TYPESENSE_API_KEY}
      TYPESENSE_URL: ${TYPESENSE_URL}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - postgres
      - typesense
  postgres:
    image: postgres:16.3-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  typesense:
    image: typesense/typesense:27.1
    container_name: typesense
    ports:
      - "8108:8108"
    volumes:
      - typesense-data:/data
    environment:
      TYPESENSE_DATA_DIR: /data
      TYPESENSE_API_KEY: ${TYPESENSE_API_KEY}
      TYPESENSE_ENABLE_CORS: "true"
volumes:
  postgres_data:
  typesense-data: